<!-- views/partials/customerTable.ejs -->
<table class="table <%= getCustomerName(input_Order?.client_Name)===5 ? "" :"d-none" %> text-7 table-border-none">
 
<tr>
  <td class="table-td-left">GF # </td>
  <td class="table-td-left">: <%= gfNumber %></td>
</tr>
<!-- //show buyer name conditionally  -->
<% if (disabledByer(input_Order?.client_Name)) { %>
<tr>
  <td class="table-td-left">Buyer(s)</td>
  <td class="table-td-left">: <%= buyers %></td>
</tr>
<% } %>
<tr>
  <td class="table-td-left">Owner(s) / Seller(s)</td>
  <td class="text-indent">: <%= owners %></td>
</tr>
</table>


<table class="table <%= getCustomerName(input_Order?.client_Name)===5 ? "d-none" :"" %> text-7 table-border-none">
    <!-- //show customer name conditionally  -->
  <% if (customer) { %>
  <tr>
    <td >Customer</td>
    <td class="text-indent">: <%= customer %></td>
  </tr>
  <% } %>
    <!-- //show closer name conditionally  -->
  <% if (input_Order?.closer_name) { %>
  <tr>
    <td class="table-td-left">Closer</td>
    <td class="text-indent">: <%= input_Order?.closer_name %></td>
  </tr>
  <% } %>
  <tr>
    <td class="table-td-left">GF # </td>
    <td class="text-indent">: <%= gfNumber %></td>
  </tr>
  <!-- //show buyer name conditionally  -->
  <% if (disabledByer(input_Order?.client_Name)) { %>
  <tr>
    <td class="table-td-left">Buyer(s)</td>
    <td class="text-indent">: <%= buyers %></td>
  </tr>
  <% } %>
  <tr>
    <td class="table-td-left">Owner(s) / Seller(s)</td>
    <td class="text-indent"> : <%= owners %></td>
  </tr>
  <tr>
    <td class="table-td-left">Property ID</td>
    <td class="text-indent">: <%= propertyId %></td>
  </tr>
  <tr>
    <td class="table-td-left">Situs Address </td>
    <td class="text-indent">: <%= situsAddress %></td>
  </tr>
</table>