<!-- views/partials/customerTable.ejs -->
<table class="table <%= getCustomerName(input_Order?.client_Name)===5 ? "" :"d-none" %> text-7 table-border-none">
 
<tr>
  <td>GF # </td>
  <td>: <%= gfNumber %></td>
</tr>
<!-- //show buyer name conditionally  -->
<% if (disabledByer(input_Order?.client_Name)) { %>
<tr>
  <td>Buyer(s)</td>
  <td>: <%= buyers %></td>
</tr>
<% } %>
<tr>
  <td>Owner(s) / Seller(s)</td>
  <td style="text-indent: -8px; padding-left: 12px;">: <%= owners %></td>
</tr>
</table>


<table class="table <%= getCustomerName(input_Order?.client_Name)===5 ? "d-none" :"" %> text-7 table-border-none">
    <!-- //show customer name conditionally  -->
  <% if (customer) { %>
  <tr>
    <td>Customer</td>
    <td>: <%= customer %></td>
  </tr>
  <% } %>
    <!-- //show closer name conditionally  -->
  <% if (input_Order?.closer_name) { %>
  <tr>
    <td>Closer</td>
    <td>: <%= input_Order?.closer_name %></td>
  </tr>
  <% } %>
  <tr>
    <td>GF # </td>
    <td>: <%= gfNumber %></td>
  </tr>
  <!-- //show buyer name conditionally  -->
  <% if (disabledByer(input_Order?.client_Name)) { %>
  <tr>
    <td>Buyer(s)</td>
    <td>: <%= buyers %></td>
  </tr>
  <% } %>
  <tr>
    <td>Owner(s) / Seller(s)</td>
    <td style="text-indent: -8px; padding-left: 12px;">: <%= owners %></td>
  </tr>
  <tr>
    <td>Property ID</td>
    <td>: <%= propertyId %></td>
  </tr>
  <tr>
    <td>Situs Address </td>
    <td style="text-indent: -8px; padding-left: 12px;">: <%= situsAddress %></td>
  </tr>
</table>