
<% 
//price format
function formatPrice(amount) {
  if(!amount) return ""
  // Check if the input is a string and contains the dollar symbol
  let hasDollarSign = amount.toString().includes('$');
  
  // Convert the input to a number, removing any non-numeric characters (except . and -)
  let numericAmount = parseFloat(amount.toString().replace(/[^0-9.-]+/g, ""));
  
  // Format the number with commas and two decimal places
  let formattedAmount = numericAmount.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
  
  // Add the dollar symbol if it was present in the original input
  if (hasDollarSign) {
      formattedAmount = '$' + formattedAmount;
  }
  
  return formattedAmount;
}
%>

    <table class="<%= total_tax_summary_bill_information?.parcel_total_tax_summary?.length > 0 ? "" :"d-none" %> border border-secondary table text-7 mb-0 table-borderless mt-3 table-td-top">
        <thead>
          <tr class="<%= changeHeadingBg(input_Order?.client_Name)%> text-8">
            <th colspan="7"> Total Taxes Summary for CAD Account(s): <%=total_tax_summary_bill_information?.parcelids
              ?.split(",")
              ?.join(", ") || " "%></th>
          </tr>
    
          <tr class="bg-color-gray-2 text-8">
            <th class="border-end">Collector</th>
            <th>Tax Year</th>
            <th class="td-right">Base Tax</th>
            <th class="td-right">Base Due</th>
            <th class="td-right">
              Due By <br />
              <%= total_tax_summary_bill_information?.due_date_one%>
            </th>
            <th class="td-right">
              Due By <br />
              <%= total_tax_summary_bill_information?.due_date_two%>
            </th>
            <th></th>
          </tr>
        </thead>
    
        <tbody>
          <% total_tax_summary_bill_information?.parcel_total_tax_summary?.forEach(function(item) { %>
          <tr >
            <!-- //collector info  -->
            <td style="width: 170px; color: black;" class="border-end">
              <p class="mb-1 fw-bold"><%= item?.name%></p>
              <% if (item?.payable_to) { %>
              <p class="mb-1">Payble To: <%= item?.payable_to%></p>
              <% } %>
    
              <p class="mb-1">Acct #: <%= item?.account_number%></p>
    
              <p class="mb-1"><%= item?.mail_To%></p>
              <p class="mb-1">Ph: <%= formatPhoneNumber(item?.phone_No)%></p>
            </td>
            <!-- //tax year -->
            <td>
              <% item?.total_bill_summary?.forEach(function(bill) { %>
              <p class="text-7 <%=baseDueStyle(bill?.basedue) %>"><%= bill?.taxyear%></p>
              <% }); %>
            </td>
    
            <!-- //base tax -->
            <td class="td-right">
              <% item?.total_bill_summary?.forEach(function(bill) { %>
              <p class="text-7 <%=baseDueStyle(bill?.basedue) %>"><%= bill?.basetax%></p>
              <% }); %>
            </td>
    
            <!-- //base due -->
            <td class="td-right">
              <% item?.total_bill_summary?.forEach(function(bill) { %>
              <p class="text-7 <%=baseDueStyle(bill?.basedue) %>"><%= bill?.basedue%></p>
              <% }); %>
            </td>
    
            <!-- //duedate1 -->
            <td class="td-right">
              <% item?.total_bill_summary?.forEach(function(bill) { %>
              <p class="text-7 <%=baseDueStyle(bill?.basedue) %>"><%= bill?.duedate1%></p>
              <% }); %>
            </td>
            <!-- //duedate2 -->
            <td class="td-right">
              <% item?.total_bill_summary?.forEach(function(bill) { %>
              <p class="text-7 <%=baseDueStyle(bill?.basedue) %>"><%= bill?.duedate2%></p>
              <% }); %>
            </td>
            <!-- //status -->
            <td class="td-right" colspan="2">
              <% item?.total_bill_summary?.forEach(function(bill) { %>
              <p class="text-7 <%=baseDueStyle(bill?.basedue) %>"><%= bill?.status%></p>
              <% }); %>
            </td>
          </tr>
          <% }); %>
        </tbody>
    
        <tfoot>
          <tr class="bg-color-gray-2 text-8">
            <th class="border-end"></th>
            <th><%= total_tax_summary_bill_information?.parcel_total_taxes_summary?.bill_name %></th>
            <th class="td-right"><%= formatPrice(total_tax_summary_bill_information?.parcel_total_taxes_summary?.total_summary_tax_amount) %></th>
            <th class="td-right"><%= formatPrice(total_tax_summary_bill_information?.parcel_total_taxes_summary?.total_summary_total_due) %></th>
            <th class="td-right"><%= formatPrice(total_tax_summary_bill_information?.parcel_total_taxes_summary?.total_summary_total_balance) %></th>
            <th class="td-right"><%= formatPrice(total_tax_summary_bill_information?.parcel_total_taxes_summary?.total_summary_total_next_balance) %></th>
            <th class="td-right"></th>
          </tr>
        </tfoot>
      </table>
